@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'lato';
  text-transform: uppercase;
  text-align: center;
}

.container {
  margin: 10% auto;
  padding: 5%;
  border: 8px solid rgba(92, 79, 79,0.6);
  max-width: 80%;
}

/* CONTENT */
h1 {
  font-size: medium;
  margin: 50px 0;
  font-weqight:400;
}

h2 {
  font-weight:300;
}

h2:active {
  font-weight:500;
}

.dice {
  /* border: 1px solid black; */
  width: 210px;
  height: 210px;
  background-image:url('images/face5.png');
  background-repeat: no-repeat;
  object-fit:cover;
}

main, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  margin-top: 5%;
}

#hold {
  padding: 10px;
}
